﻿<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Sitem</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    @RenderBody()
   <body id="page-top">
        <!-- Navigation-->
        <nav  class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span  class="d-block d-lg-none">Gülten Gelincik</span>
                <span  class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpeg" alt="..." /></span>
            </a>
            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div  class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li  class="nav-item"><a class="nav-link js-scroll-trigger" href="#hakkında">Hakkımda</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#deneyim">Deneyim</a></li>
                    <li  class="nav-item"><a class="nav-link js-scroll-trigger" href="#egitim">Eğitim</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#yetenek">Yetenekler</a></li>
                <li  class="nav-item"><a  class="nav-link js-scroll-trigger" href="#dil">Diller Ve Sertfikalar</a></li>
                <li  class="nav-item"><a  class="nav-link js-scroll-trigger" href="#uygulama">Uygulamalar</a></li>
                   
                </ul>
            </div>
        </nav>
        <!-- Page Content-->
        <div  class="container-fluid p-0">
            <!-- Hakkında-->
        <section  class="resume-section" id="hakkında">
                <div  class="resume-section-content">
                    <h1  class="mb-0">
                        Gülten
                        <span  class="text-primary">Gelincik</span>
                    </h1>
                    <div  class="subheading mb-5">
                        Türkiye/---- İletişim : 5450000000
                        <a  href="mailto:gultenglnck@gmail.com">gultenglnck@gmail.com</a>
                    </div>
                    <p  class="lead mb-5">Merhaba, ben Gülten Gelincik.Adana/Çukurova Üniversitesi 2021 Bilgisayar Programcılığı Bölümü mezunuyum.
İlgi alanlarım arasında ; Yabancı Dil öğrenme , Web Sitesi Tasarımı ,Makine Öğrenimi ve Unity ile Oyun geliştirme yer almaktadır.​

Kariyerimi Web Sitesi Tasarımı ve Makine Öğrenimi alanında geliştirmeyi hedeflemekteyim.Bu amaçla yazılım alanındaki gelişmeleri takip etmekte ve sertfika programlarına katılmaktayım.</p>
                    <div  class="social-icons">
                    <a  class="social-icon" href="https://www.linkedin.com/in/g%C3%BClten-gelincik-529a38200/"><i class="fab fa-linkedin-in"></i></a>
                        <a  class="social-icon" href="https://github.com/Gultenglnck/Gultenglnck.git"><i class="fab fa-github"></i></a>
                        <a  class="social-icon" href="#!"><i  class="fab fa-twitter"></i></a>
                        <a  class="social-icon" href="#!"><i  class="fab fa-facebook-f"></i></a>
                    <a  class="social-icon" href="#!"><i  class="fas fa-phone"></i></a>

                    </div>
                </div>
        </section>
                </div>
           
            <hr  class="m-0" />
            <!-- Deneyim-->
    <section  class="resume-section" id="deneyim">
                <div class="resume-section-content">
                    <h2 class="mb-5">Deneyim</h2>
                    <div  class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div  class="flex-grow-1">
                        <h3  class="mb-0">Back-End Geliştirici</h3>
                             
                        <p >C# Bootstramp Geliştirmekteyim.</p>
                        </div>
                        <div  class="flex-shrink-0"><span class="text-primary">Şubat 2024</span></div>
                    </div>
                  <div  class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3  class="mb-0">Front-End Geliştirici</h3>
                            <div  class="subheading mb-3">HTML-CSS</div>
                            <p >HTLM ve CSS Geliştirmekteyim.Bir çok küçük uygulamalar yaptım. </p>
                        </div>
                        <div  class="flex-shrink-0"><span  class="text-primary">Ekim 2021</span></div>
                    </div> 
                    <div  class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div  class="flex-grow-1">
                        <h3  class="mb-0">Grafik ve Resim Düzenleme</h3>
                        <div class="subheading mb-3">Photoshop</div>
                        <p >Bir çok fotoğraflarda efekt düzenlemeleri yaptım. </p>
                        </div>
                        <div  class="flex-shrink-0"><span  class="text-primary">Nisan 2021</span></div>
                    </div> 
                   
                </div> 
            </section>
            <hr  class="m-0" />
            <!-- Eğitim-->
    <section  class="resume-section" id="egitim">
                <div class="resume-section-content">
                    <h2  class="mb-5">Eğitim</h2>
                    <div  class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div  class="flex-grow-1">
                            <h3  class="mb-0">Adana/Çukurova Üniversitesi</h3>
                            <div class="subheading mb-3">Karaisalı MYO Mezunu </div>
                        Bilgisayar Programcılığı - Web Geliştirici
                        <p>  Genel Not Ortalaması: 3.33</p>
                        </div>
                        <div class="flex-shrink-0"><span  class="text-primary">Eylül 2019-Haziran 2021</span></div>
                    </div>
                  </div>

            </section>
            <hr  class="m-0" />
            <!-- Yetenek-->
    <section  class="resume-section" id="yetenek">
                <div  class="resume-section-content">
                    <h2  class="mb-5">Yetenekler</h2>
                <div  class="subheading mb-3">YABANCI DİLLER , PROGRAMLAMA DİLLERİ VE ARAÇLARI</div>
                    <ul  class="list-inline dev-icons">
                     <li class="list-inline-item"><i  class="fab fa-html5"></i></li>
                    <li  class="list-inline-item"><i  class="fab fa-css3-alt"></i></li>
                      <li  class="list-inline-item"><i  class="fab fa-js-square"></i></li>
                        <li  class="list-inline-item"><i  class="fab fa-angular"></i></li>
                        <li  class="list-inline-item"><i  class="fab fa-react"></i></li>
                        <li  class="list-inline-item"><i  class="fab fa-node-js"></i></li>
                           
                    </ul>
                    <div class="subheading mb-3">İş Akışı</div>
                    <ul  class="fa-ul mb-0">
                        <li>
                            <span  class="fa-li"><i  class="fas fa-check"></i></span>
                            C# Bootstrap Çalışmaları
                        </li>
                        <li>
                            <span class="fa-li"><i  class="fas fa-check"></i></span>
                            HTML-CSS Çalışmaları
                        </li>
                        <li>
                            <span  class="fa-li"><i  class="fas fa-check"></i></span>
                            Photoshop Çalışmaları
                        </li>
                        <li >
                            <span class="fa-li"><i  class="fas fa-check"></i></span>
                        Autocad Öğrenme
                        </li>
                  
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
    <!--Diller Ve Sertfikalar-->
    <section  class="resume-section" id="dil">
                <div class="resume-section-content">
                    <h2  class="mb-5">Diller Ve Sertfikalar</h2>
                    <ul  class="fa-ul mb-0">
                    <li>
                        <span  class="fa-li"><i  class="fas fa-trophy text-warning"></i></span>
                        AFAD Gönüllüsü
                    </li>
                        <li >
                            <span  class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                           İngilizce A1/A2 - Şubat 2023
                        </li>
                        <li b-hr1hfv1bq5>
                            <span  class="fa-li"><i  class="fas fa-trophy text-warning"></i></span>
                           Almanca A1 - Devam Etmekte
                        </li>
                        <li>
                            <span  class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                            İlk Yardım - Ocak 2023
                    </li>
                        <li >
                            <span class="fa-li"><i  class="fas fa-trophy text-warning"></i></span>
                        Klavye Teknikleri - Nisan 2023
                        </li>
                        <li >
                            <span  class="fa-li"><i  class="fas fa-trophy text-warning"></i></span>
                        Bilgisayar Kullanımı - Eylül 2014
                        </li>
                    </ul>
                </div>
            </section>
        <!-- Uygulamalar-->
         <section  class="resume-section" id="uygulama">
        <div  class="resume-section-content" >
        <h2  class="mb-5">Uygulamalar</h2>
 
       <h4 >Uygulama 1</h4>
         <table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Kitap Adı</th>
            <th>Yazarı</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>1</td>
                <td>C# </td>
                <td>Kodlab</td>
            </tr>
            <tr>
                <td>2</td>
                <td>PYTHON</td>
                <td>Kodlab</td>
            </tr>
            <tr>
                <td>3</td>
                <td>ALGOR&#x130;TMA</td>
                <td>Kodlab</td>
            </tr>
            <tr>
                <td>4</td>
                <td>CSS</td>
                <td>Kodlab</td>
            </tr>
            <tr>
                <td>5</td>
                <td>HTML</td>
                <td>Kodlab</td>
            </tr>
            <tr>
                <td>1002</td>
                <td>C&#x2B;&#x2B;</td>
                <td>Kodlab</td>
            </tr>
            <tr>
                <td>1003</td>
                <td>PHOTOSHOP </td>
                <td>Kodlab</td>
            </tr>
    </tbody>
</table>

        </div>
        </section>
    <footer  >
        <div class="container">
            <p  class="m-0 text-center text-dark">Tüm Hakları Saklıdır &copy; BlogSitem 2024</p>
        </div>
        <!-- /.container -->
    </footer>
        <hr class="m-0" /> 
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    
<!-- Visual Studio Browser Link -->
<script type="text/javascript" src="/_vs/browserLink" async="async" id="__browserLink_initializationData" data-requestId="4518309f4b5548e1a4293bbfbd48c5f1" data-requestMappingFromServer="false" data-connectUrl="http://localhost:51928/31d4ab50f20b4e4585817041ca1ec33b/browserLink"></script>
<!-- End Browser Link -->
<script src="/_framework/aspnetcore-browser-refresh.js"></script></body>
</html>
